.label {
    -fx-font-size: 1.5em;
}

.chart {
     -fx-effect: dropshadow(three-pass-box, rgba(192,192,192,0.8), 2, 0.2, 2, 0);
}

.chart-title {
    -fx-font-size: 2em;
    -fx-text-fill: black;
}

.axis {
    -fx-tick-label-font-size: 1em;
    -fx-tick-length: 10;
    -fx-font-family: Arial;
}

.chart-series-line {
    -fx-stroke-width: 5px;
}


